[Unit]
Description=Personal files backup
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
Type=simple
EnvironmentFile=/root/.duplicity.env
ExecStart=/usr/bin/duplicity {{ backup_docs.options | join(' ') }} --encrypt-sign-key={{ backup_docs.gpg_key_id }} {{ backup_docs.source_dir }} {{ backup_docs.target_url }}
Restart=on-failure
