[Unit]
Description=Personal files backup

[Service]
Type=oneshot
EnvironmentFile={{ backup_docs.envfile }}
ExecStart=/usr/local/bin/borg create \
  -v --stats {{ backup_docs.create_options | join(' ') }} \
  {{ backup_docs.repository }}::'docs-{now:%%Y-%%m-%%d}' \
  {{ backup_docs.source_dir }}
ExecStart=/usr/local/bin/borg prune -v --list {{ backup_docs.repository }} --prefix 'docs-' \
  {{ backup_docs.prune_options | join(' ') }}
ExecStart=/usr/local/bin/rclone sync --config {{ backup_docs.rclone.config }} {{ backup_docs.rclone.options | join(' ') }} {{ backup_docs.repository }} {{ backup_docs.rclone.target }}
